{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

  <div class="container">
    <img class="img1" src="{% static 'Calendar/ghibli_landscape.jpg' %}" alt="">

    <div class="top-left">
      <div class="big" onclick="location.href='/';" style="cursor: pointer;">MoodLog</div>
    </div>

    <div class="centered">
      <login>Log In</login>
      <login>
          <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Log In</button>
          <button type="submit"><a href="{% url 'signup' %}">Sign Up</button></div>
        </form>
      </login>
    </div>
  </div>
  
{% endblock %}